body {
  background-color: rgb(247, 240, 228);
  h2 {
    margin-bottom: 0;
  }
}

.reactive-form-error-message {
  color: orangered; font-weight: 500; font-size: small; margin-top: 0.5em;
}

.alert {
  color: orangered;
  font-style: italic;
}